.parent{
    display: flex;
    gap: 50px;
    font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    text-align:center;
    padding-left: 150px;
}
.exprnc{
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    display: flex;
    
    padding-left: 150px;
    gap: 250px;
}
.h1{
    text-align: center;
}
.icons{
    display: flex;
    gap: 30px;
    padding-left:  550px;
}
.body{
    background-color: #d3d3d3;
}